@use "../mixins/responsive.scss" as *;
@use '../mixins/hover.scss' as *;

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    &__menu {
        font-size: 30px;
        color: #c1fbb2;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;

        @include hover {
            color: white;
        }

        &--contacto {
            border: 3px solid #c1fbb2;
            border-radius: 50px;
            padding: 8px;

            @include hover{
                background-color: #c1fbb2;
                color: #8C68EF;
            }
        }

    }
    &__footer {
        font-size: 16px;
        color: white;
        @include responsive (desktop){
            font-size: 32px;
            @include hover {
                color: #c1fbb2;
            }
        }
    }

    &__social {
        filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(3499%) hue-rotate(142deg) brightness(119%) contrast(100%);
    }
}