@use "../mixins/responsive.scss" as *;
@use '../mixins/hover.scss' as *;

.cards {
    background-color: #C1FBB2;
    height: 1237px;
    padding-top: 1px;

    @include responsive (desktop) {
        height: 900px;
    }

    &__container {
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 953px;

    @include responsive (desktop) {
        height: 685px;
    }
    }
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 325px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#AE93FA ;
    border-radius: 20px;
    margin-bottom: 16px;
    padding-bottom: 8px;

    @include responsive(desktop){
        width: 514px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @include responsive (desktop) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 374px;
        }
    }

    &__title {
        font-size: 24px;
        color: #C1FBB2;
        font-weight: 500;
        margin-bottom: 0;

        @include responsive (desktop) {
            margin-bottom: 0;
        }
    }

    &__subtitle {
        font-size: 14px;
        color: #C1FBB2;
        font-weight: 400;
        margin-top: 8px;

        @include responsive (desktop){
            margin-top: 0;
        }
    }



    &__image {
        width: 76px;
        height: 76px;
    }
}