@use "../mixins/responsive.scss" as *;
@use '../mixins/hover.scss' as *;

.footer {
    margin-top: 50px;
    width: 375px;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 72px;

    @include responsive (desktop) {
        width: 1440px;
        margin-bottom: 150px;
        justify-content: center;
        align-items: center;
        padding-left: 80px;
        margin-top: 100px;
    }

    &__contacto {
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__social {
        padding-top: 12px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}