.footer {
    margin-top: 50px;
    width: 375px;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 72px;

    &__contacto {
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__social {
        padding-top: 12px;
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}