.galery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
    &__container {
        position: relative;
     width: 343px;
     height: 1350px;
     border: 3px dashed #c1fbb2;
     border-radius: 63px;
    }

    &__caperu {
     position: absolute;
     width: 152px;
     height: 210px;
     left: 10px;
     top: 40px;
    }

    &__cartel {
        position: absolute;
        width: 151px;
        height: 226px;
        left: 175px;
        top: 30px;
    }

    &__pablo {
        position: absolute;
        top: 270px;
        left: 30px;
        width: 283px;
        height: 198px;
    }

    &__pescado {
        position: absolute;
        left: 10px;
        top: 490px;
        width: 159px;
        height: 226px;

    }

    &__socialite {
        position: absolute;
        width: 157px;
        height: 217px;
        top: 495px;
        left: 175px;
    }

    &__bloqueo {
        width: 283px;
        height: 206px;
        position: absolute;
        top: 735px;
        left: 30px;
    }

    &__mockup {
        position: absolute;
        width: 283px;
        height: 160.43px;
        left: 30px;
        top: 965px;
    }

    &__ux {
        position: absolute;
        width: 283px;
        height: 160.43px;
        left: 30px;
        top: 1150px;
    }
}