@use "../mixins/responsive.scss" as *;

.header {
  padding-left: 27px;
  height: 638px;
  position: relative;
  &__image {
    position: absolute;
    top: 0;
    @include responsive (desktop) {
      position:absolute;
      top: -150px;
      left: 800px;
      padding-right: 76px;
    }
  }

  @include responsive (desktop){
    padding-left: 76px;
    height: 795px;
  }
}
