@use "../mixins/responsive.scss" as *;

.text {
  &__header {
    margin-top: 0;
    font-size: 16px;
    color: #ecffe7;
    padding-left: 45px;

    @include responsive (desktop) {
      margin-top: 0;
      font-size: 40px;
      padding-left: 130px;
    }
  }

  &__cardz {
    margin-top: 0;
    text-align: center;
    color: #8C68EF;
    font-weight: 16px;
    margin-bottom: 40px;

    @include responsive (desktop){
      text-align: left;
      width: 443px;
    }

    &__span {
      font-weight: 700;
    }
  }

  &__card {
    font-size: 16px;
    color: #ECFFE7;
    text-align: center;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 13px;
  }
}
